* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-clr: #547794;
    --silver-lake: #e0e0e0; 
    --pearl-sugar: #f6f3ee;
    --ash-blue: #c2c9cd;
    --nav-focus: #272626;
    --accent:#8428F8;
    --bg-progressbar: white;
    --border-section: #547794;
    --title-2:#141C3A;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 13px;
  height: 13px;
  }
  ::-webkit-scrollbar-thumb{
  background: #313538;
  border-radius: 22px;
  }
  ::-webkit-scrollbar-thumb:hover{
  background: #757373;
  }
  ::-webkit-scrollbar-track{
  background: #C9C9C9;
  border-radius: 22px;
  box-shadow: inset 0px 0px 0px 0px #EBEBEB;
  }
/* == section == */

.title-section {
  text-align: center;
  padding: 60px 0 60px 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 30px;
}

.title02 {
  font-weight: 300;
  font-size: 26px;
  color:var(--title-2);
}

.paragraph {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

.grey-bg-section {
  background-color: #e4e6e7;
  box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.3);
}

.blue-bg-section {
    background-color: var(--main-clr);
    box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.3);
}

.border-top {
  border-top: 2px solid var(--border-section);
}

.border-bottom {
  border-bottom: 2px solid var(--border-section);
}
/* ===== nav bar ===== */


nav { 
  z-index: 1000;
  /* position: fixed; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f6f3ee;
  padding: 30px;
  background-color: var(--main-clr);
}

nav .right {
  font-weight: 300;
  padding-right: 10px;
}
nav .left ul {
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 50px;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
  color: var(--nav-focus);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* ===== Intro ===== */

.intro .content {
  height: 90vh;
  background-image: url(../img/desk-bg.jpg);
  background-size: cover;
  color: #f6f3ee;
  overflow: hidden;
  box-shadow:inset 0px 2px 10px rgba(0, 0, 0, 0.4) ;
}

.intro .content {
  display: flex;
  align-items: center;
  padding-left: 15%;
  line-height: 50px;
}

.intro img {
  display: flex;
  align-self: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 35px;

}

/* ===== À propos ===== */
.a-propos {
  max-width: 80%;
  padding: 80px 20px 80px 20px;
  margin: 0 auto;
  text-align: justify;
}
.a-propos .content {
  padding: 120px 0 120px 0;
}

.a-propos .first-element,
.a-propos .second-element {
  padding-bottom: 30px;
}

.description h2 {
  padding: 10px;
}

.description p {
  padding: 8px;
}



/* ===== Compétences */
.competence {
  padding-top: 80px;
}
.competence .head {
  max-width: 80%;
  margin: 0 auto;
}
.competence .content {
  display: flex;
  gap: 51px;
  padding-top: 180px;
  padding-bottom: 200px;
  justify-content: center;
}
.competence .content .left,
.competence .content .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.competence .content .bar-content {
  display: flex;
  align-items: center;
}

.competence .content .bar-content label {
  padding-left: 10px;
}
progress {
  -webkit-appearance: none;
  height: 8px;
  width: 334px;
}
progress::-webkit-progress-bar {
  border-radius: 100px;
  background-color: var(--bg-progressbar);
}
::-webkit-progress-value {
    border-radius: 100px;
    background-color: var(--accent);
}

/* ===== Experience ====== */
.experience {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 88px;
  border-top: 1px solid var(--ash-blue);
}
.experience .content .head {
  padding-top: 80px;
  padding-bottom: 80px;
}

.experience .content .posts {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 500px;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  column-gap: 24px;
  row-gap: 36px;
}


    /* ===== Card ====== */

.experience .content .posts .card {
    box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07),
      0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778),
      0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578),
      0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521),
      0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);
    border-radius: 28px;
    background: var(--bw-700);
    padding: 24px 24px 32px;
    text-align: justify;
  }
  
  .card img {
    display: block;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 24px;
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--bw-100);
    margin-bottom: 12px;
  }
  
  .card .time {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--bw-200);
    margin-bottom: 12px;
  }
  
  .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bw-100);
    text-justify: inter-word;
  }




/* ====== Footer ===== */
footer {
  padding: 120px 20px 120px 20px;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: 125ms ease;
  text-align: center;
}

footer a:hover {
  transform: scale(1.1);
}

footer a:focus {
  outline: none;
  box-shadow: 4px 4px 4px ;
}


  /* ==== Media ===== */

  @media screen  and (min-width: 1000px) {
    .experience .content .posts {
      max-width: none;
     grid-template-columns: repeat(3, 1fr);
    } 
  }
  @media screen and (max-width:850px) {
    nav .left {
      display: none;
    }

    .competence .content .left,
    .competence .content .right{
      max-width: 400px;
      margin: 0 auto;
    }
    .competence .content {
      flex-direction: column;
    }
  }

  @media screen and (max-width:400px){
    .description p {
      text-align:initial ;
    }
    progress {
      width: 180px;
    }
  }