* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-clr: #547794;
    --silver-lake: #e0e0e0; 
    --pearl-sugar: #f6f3ee;
    --ash-blue: #c2c9cd;
    --nav-focus: #272626;
}

/* == section == */

.title-section {
  text-align: center;
  padding-top: 44px;
  padding-bottom: 44px;
}


/* ===== nav bar ===== */


nav { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f6f3ee;
  padding: 30px;
  background-color: var(--main-clr);
}



nav .right {
  font-weight: 300;
  padding-right: 10px;
}
nav .left ul {
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 50px;
}

nav .left ul a {
  text-decoration: none;
  color: #ffff;
  transition: 350ms ease-in-out;
}

nav ul a:hover {
  color: var(--nav-focus);
}
nav ul a:focus {
  outline: none;
  color: var(--nav-focus);
}

/* ===== Intro ===== */

.intro .content {
  height: 90vh;
  background-image: url(../img/desk-bg.jpg);
  background-size: cover;
  color: #f6f3ee;
  overflow: hidden;
  box-shadow:inset 0px 2px 10px rgba(0, 0, 0, 0.4) ;
}


.intro .content {
  display: flex;
  align-items: center;
  padding-left: 15%;
  line-height: 50px;
}


/* ===== À propos ===== */
.a-propos {
  max-width: 80%;
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
  text-align: justify;
}

.a-propos .first-element,
.a-propos .second-element {
  padding-bottom: 30px;
}

.description h2 {
  padding: 10px;
}

.description p {
  line-height: 1.6;
  padding: 8px;
}

/* ===== Experience ====== */
.experience {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 88px;
  border-top: 1px solid var(--ash-blue);
}


.experience .content .posts {
  margin: 0 auto;
  max-width: 500px;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  column-gap: 24px;
  row-gap: 36px;
}


    /* ===== Card ====== */

.experience .content .posts .card {
    box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07),
      0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778),
      0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578),
      0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521),
      0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);
    border-radius: 28px;
    background: var(--bw-700);
    padding: 24px 24px 32px;
    text-align: justify;
  }
  
  .card img {
    display: block;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 24px;
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--bw-100);
    margin-bottom: 12px;
  }
  
  .card .time {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--bw-200);
    margin-bottom: 12px;
  }
  
  .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bw-100);
    text-justify: inter-word;
  }




/* ====== Footer ===== */
footer {
  background-color: var(--ash-blue);
  padding: 120px 20px 120px 20px;
  box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
  border: 1px solid black;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: 350ms ease-in-out;
}

footer a:hover {
  /* color:var(--main-clr);
  border: 1px solid var(--main-clr); */
  transform: scale(1.1);
}
footer a:focus {
  box-shadow: 5px 5px 5px ;
}


  /* ==== Media ===== */

  @media screen  and (min-width: 1000px) {
    .experience .content .posts {
      max-width: none;
     grid-template-columns: repeat(3, 1fr);
    } 
  }
  @media screen and (max-width:800px) {
    nav .left {
      display: none;
    }
  }