* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-clr: #547794;
    --silver-lake: #e0e0e0; 
    --pearl-sugar: #f6f3ee;
    --ash-blue: #c2c9cd;
}

/* == section == */

.title-section {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 44px;
}
.a-propos {
  max-width: 70%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.experience {
  max-width: 90%;
  margin: 0 auto;
}

/* ===== nav bar ===== */


nav { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f6f3ee;
  padding: 30px;
  background-color: var(--main-clr);
  /* box-shadow: 0px 0px 80px rgb(39, 53, 141),
  0px 0px 29.2013px rgba(39, 53, 141, 0.0292778),
  0px 0px 14.1767px rgba(39, 53, 141, 0.021578),
  0px 0px 6.94968px rgba(39, 53, 141, 0.0184521),
  0px 0px 2.74791px rgba(39, 53, 141, 0.0153621); */
}
nav img {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
nav .right {
  font-weight: 300;
  padding-right: 10px;
}
nav .left ul {
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 50px;
}

nav .left ul a {
  text-decoration: none;
  color: #ffff;
}


/* ===== Intro ===== */

.intro .content {
  height: 90vh;
  background-image: url(../img/desk-bg.jpg);
  background-size: cover;
  color: #f6f3ee;
}

.intro .content {
  display: flex;
  align-items: center;
  padding-left: 30%;
  line-height: 50px;
}


/* ===== about me ===== */




/* ===== Experience ====== */

.experience .content .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 24px;
    row-gap: 36px;
}


    /* ===== Card ====== */

.experience .content .posts .card {
    box-shadow: 0px 18px 80px rgba(39, 53, 141, 0.07),
      0px 6.5703px 29.2013px rgba(39, 53, 141, 0.0292778),
      0px 3.18976px 14.1767px rgba(39, 53, 141, 0.021578),
      0px 1.56368px 6.94968px rgba(39, 53, 141, 0.0184521),
      0px 0.618281px 2.74791px rgba(39, 53, 141, 0.0153621);
    border-radius: 28px;
    background: var(--bw-700);
    padding: 24px 24px 32px;
  }
  
  .card img {
    display: block;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 24px;
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--bw-100);
    margin-bottom: 12px;
  }
  
  .card .time {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--bw-200);
    margin-bottom: 12px;
  }
  
  .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bw-100);
  }



  /* ==== Media ===== */

  @media screen  and (min-width: 500px) {
    .experience .content .posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width:800px) {
    nav .left {
      display: none;
    }
  }